.main-container {
    left: 50%;
    width:40%;
    padding: 50px;
    padding-bottom: 70px;
    padding-top: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: relative;
    background: white;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    min-width: 240px;
    /*border:1px solid #7A7593;*/
}

.main-container h4, .submit_ {
    padding:10px 15px;
    text-decoration: none;
    background: transparent;
    border: 2px solid #428BFF;
    color: #428BFF;
    display: inline-block;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    transition: background 0.3s ease;
    -webkit-box-shadow: 2px 2px 0 #428BFF;
    -moz-box-shadow: 2px 2px 0 #428BFF;
    -ms-box-shadow: 2px 2px 0 #428BFF/*#f27c7c*/;
    box-shadow: 2px 2px 0 #428BFF/*#f27c7c*/;
    margin-bottom:0;
}

.main-container h4:nth-child(2) {
    margin-left:40px;
    margin-right:40px;

}

.main-container h4:nth-child(3){
    padding:0;
}

.main-container .h4-container {
    width:90%;
    margin:auto;
}

.main-container .h4-container a {
    padding:10px 15px;
}

a, a:active, a:link, a:visited{
    text-decoration:none;
    color: #428BFF;
}

.submit_ {
    display:block;
    width:100px;
    padding:5px 20px;
    margin:auto;
    margin-top:30px;
}

.submit_:hover, .main-container .h4-container h4.return:hover{
    top: 2px;
    left: 2px;
    -webkit-box-shadow: 2px 2px 0 transparent;
    -moz-box-shadow: 2px 2px 0 transparent;
    -ms-box-shadow: 2px 2px 0 transparent;
    box-shadow: 2px 2px 0 transparent;
}
.main-container .h4-container h4.return a{
    display:block;
    cursor:pointer;
    height:100%;
    width:auto;
}

.main-container hr{
    border:0px solid #000;
    margin-bottom:0;
    margin-top:20px;
}

.form-container {


}

.clear {
    clear:both;
}

.form-group {
    width:100%;
    height:30px;

}

.form-group label {
    margin-left:60px;
    padding-top:5px;
}
.block-1, .block-2 {
    border:1px solid #7A7593;
    border-radius:10px;
    padding:20px 10px;
}

.block-1 {
    display:block;

}

.block-2 {
    display:none;
    padding-top:40px;
}

.plug_type, .plug {
    width:100%;
    height:40px;
    color:#7A7593;
    border: 2px solid #7A7593;
    font-weight: bold;
    font-size: 0.95em;
}

.float-window {
    height:100%;
    width:100%;
    margin:auto;
    position:absolute;
    top:0%;
    left:0;
    background:white;
    z-index:15;
    display:none;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    min-width: 240px;
}

.choose-plug {
    width:auto;
}

.float-window .close_btn {
    position:absolute;
    right:0;
    font-size:28px;
    padding-right:5px;
    padding-left:10px;
    cursor:pointer;
}

.float-window .close_btn:hover {
    transform:scale(1.1);
}

.float-window .float-container{
    padding:10px;
    border:1px solid #7A7593;
    border-radius:10px;
    margin:25px;
    height:auto;
}

div.choose-type {
    width: 100%;
    height: 40px;
    color: #7A7593;
    border: 2px solid #7A7593;
    font-weight: bold;
    font-size: 0.95em;
}

div.choose-type span {
    width:auto;
    height:auto;
    display:block;
    margin:auto;
    margin: 10px;
    margin-left:5px;
}

div.choose-type span label {
    margin-left:15px;
}


.h4-container h4{
    border:none;
}

select:disabled {

}

span.jp, span.sp {
    color:#7A7593;
}

.float-window .task .style-select-title, .float-window .task .style-select-options {
    display:none;
}